.button {
   padding: 12px;
   font-size: 16px;
   font-weight: 500;
   background-color: transparent;
   color: white;
   border: 0.5px solid rgb(217, 217, 217);
   border-radius: 4px;
   cursor: pointer;
   text-decoration: none;
   width: fit-content;
}

.button:hover {
   background-color: white;
   color: black;
}