.image {
   width: 200px;
}

.cardLink {
   text-decoration: none;
   color: white;
   display: flex;
   flex-direction: row;
   gap: 40px;
   padding: 16px;
   align-items: center;
   border-top: 0.5px solid #b2b2b2;
}

.title {
   font-size: 24px;
}

.label {
   font-weight: 600;
}

.type {
   font-size: 16px;
   opacity: 0.7;
}