.container {
   width: 100vw;
   height: 100vh;
   background-image: url(../../assets/background.jpg);
   background-size: cover;
   background-position: center;
   padding: 40px;
}

.info {
   position: absolute;
   bottom: 40px;
   display: flex;
   flex-direction: column;
   gap: 40px;
   color: white;
}

.launch {
   display: flex;
   flex-direction: row;
   gap: 16px;
   align-items: baseline;
}

.launchTitle {
   font-size: 32px;
}

.details {
   display: flex;
   flex-direction: column;
   gap: 16px;
}